.bg-primary {
  background-color: #20a8d8;
  color: #fff;
}
.bg-dark {
  background-color: #2f353a;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style: none;
}

.landing {
  position: relative;
  height: 100vh;
}
.landing-inner {
  color: #333;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 70%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

input {
  width: 94%;
  border-radius: 5px;
  font-size: 16px;
  min-height: 46px;
  padding: 10px;
}

.font-body {
  margin-top: -10%;
}

.disclaimer {
  color: #6a737d;
  font-size: 0.8rem;
}

.alert-danger {
  background: "#dc3545";
  color: #fff;
}
